@{
    ViewBag.Title = "About Grabber";
}
<h2>@ViewBag.Title</h2>

<h3>Current goal & scope limitation</h3>
<p>Grabber is our demonstration and simplification of taxi-hailing systems like Uber or GrabTaxi. We aim at simulating one simple app cycle, including user registration, service request, service response & finish service. Payment process is out of the current scope due to overwhelming complexity.</p>

<h3>Team members</h3>
<ul>
    <li>Nguyễn Trọng Nhân</li>
    <li>Đặng Vũ Lâm</li>
    <li>Trần Trọng Khánh</li>
    <li>Trần Thị Hồng Hạnh</li>
    <li>Ngô Hà Anh</li>
</ul>

<h3>Technologies</h3>
<p>This app is built with ASP.NET MVC 5 based on .NET Framework 4.5.2. APIs from Microsoft, Google, Facebook, Twilio and SendGrid are utilized for the process demonstration.
    <br />
Our source code is <a href="https://github.com/lamdv/DPTP_Group1">completely hosted on GitHub.</a>
    <br />
We publish <a href="http://grabber.nhannt.net">a version on Microsoft Azure</a> so the app can be accessed publicly.</p>