@{
    ViewBag.Title = "Contact Grabber";
}
<h2>@ViewBag.Title</h2>

<address>
    Group 1 Jsc.,<br />
    số 6 Nguyễn Cảnh Chân, P. Quán Thánh, Q. Ba Đình, Hà Nội<br />
    <abbr title="Phone">P:</abbr>
    043.8222.666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>