@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grabber</h1>
    <p class="lead">Just a combination of Uber and GrabTaxi. We demonstrate how the systems work at a small scale.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Built with ASP.NET</h2>
        <p>
            This app is based on .NET Framework 4.5 & ASP.NET MVC 5. We also utilize APIs from Microsoft, Google, Facebook, Twilio, SendGrid (and more to come).
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Available on GitHub</h2>
        <p>All of our source code is open on GitHub. Any comment, commit, pull request or issues are welcomed (we won't refuse any donation, too).</p>
        <p><a class="btn btn-default" href="https://github.com/lamdv/DPTP_Group1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosted by Azure</h2>
        <p>We strive for the cloud and would love to see how its scalability can fulfill the growing demand of our customers.</p>
        <p><a class="btn btn-default" href="http://grabber.nhannt.net">Learn more &raquo;</a></p>
    </div>
</div>