@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
header {
  padding-top: 0px;

}

html {
  overflow-y: scroll;

}

body {
  padding-top: 250px;
  background:url('road-sky-sand-street1.jpg') repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-size:cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  height: 500px;
  text-align: center ;
  padding-top:30px;
  h1 {
    margin-bottom: 30px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #ffffff;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #000000;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: #ffffff;
    font-size: 12px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #049cdb;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
  font-size: 14px;
}
.timestamp {
  color: $gray-light;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
.container {
  margin-top: -170px;
  padding-top: 10px;
  height: 970px;

}
.container1 {
  width: 100%;
  align-content:left;
  padding-left: 25%;
  padding-right: 25%;
}

.container2 {
  width: 400px;
  height: 400px;
  align-content:center;
  background-color: #ffffff;
  align-self: center;
  margin-left: 33%;
  opacity: 50%;
  border-radius: 5px;
  
}

.container2-1 {
  width: 400px;
  height: 300px;
  align-content:center;
  background-color: #ffffff;
  align-self: center;
  margin-left: 33%;
  opacity: 50%;
  border-radius: 5px;
  
}


.btn.btn-large.btn-primary{
  color: #ffffff;
}

 .checkbox {
  width: 15px;
 }
.span5 {
  padding-top: 10%;
  padding-left: 10%;
  align-self: center;
  padding-right: 10%;  
}

.span1 {
  color: #000000;
  width: 100px;
}

.row {
  width: 80%;
  align-content:center;
  align-self: center;
  margin-left: 10%;
}
.span8 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  font-size: 14px;
  a {
    font-weight: bold;
    font-size: 14px;
    
    }
    &:hover {
      text-decoration: none;
      color: #000000;
      font-size: 14px;
    }
}
.timestamp {
  font-style: italic;
  color: #2b2b2b;
  font-size: 12px;
}
.new_micropost {
  background-color: #c9e9ff;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
}
.button-tweet {
  padding-left: 85%;
}
.gravatar{
  padding-top: 5px;
}