<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "What's happening?" %>
  </div>
  <div class="button-tweet">
  <%= f.submit "TWEET", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
