<footer class="footer navbar-inverse navbar-fixed-bottom">
 <div class= "container-fluid">
  <small>
    <a href="http://twitter.com/"><span style="color:#ffffff;font-size: 14px;padding-top: 3px;">TWITTER GRABBER</span></a>
    <span style="color: #ffffff;font-size: 12px;">  by Group 1</span>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/">Powered by</a></li>
    </ul>
  </nav>
 
 </div>
</footer>
