<div id="createTweet" class="panel right">
    <h1>Create a Tweet</h1>
    <p>
    <form>
        <textarea name="text" class="text"></textarea>
        <input type="submit" value="Tweet!">
    </form>
    </p>
</div>
<div id="Tweets" class="panel left">
    <h1>Your Grabber Profile</h1>
    <div class="tweetsWrapper">
        <img class="avatar" src="<%= @user.avatar_url %>">
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        XX Grabber
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Tweets</h1>
    <div class="tweetWrapper">
        Grabbing Tweets
    </div>
</div>