<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                    <h5 style="color: grey; font-size: 125%;">Explore</h5>
               <p style="opacity: 0.5; font-size: 80%;">This page owns posts from ALL users, which means you can find people to follow and your posts will be shown to other also.</p> 
            </div>
        </div>
        
        <div class="panel panel-default">
                <div class="panel-body">
                    <h5 style="color: grey; font-size: 125%;">Trends</h5>
                     <a href="">#ProjectHome</a> <br>
                        <span style="color: grey;"> 69 N Tweet </span><br>
                     <a href="">##身長たす22をすると抱きつきやすい</a> <br>
                        <span style="color: grey;"> 54 N Tweet </span><br>
                     <a href="">#Windows Developer</a> <br>
                        <span style="color: grey;"> 50 N Tweet </span><br>
                     <a href="">#Adele</a> <br>
                        <span style="color: grey;"> 46 N Tweet </span><br>
                     <a href="">#Ubuntu</a> <br>
                        <span style="color: grey;"> 44 N Tweet </span><br>
                </div>
        </div>
    </div>
    <div class="col-xs-6">
        <%= render '/components/post_form' %><% if user_signed_in? %><br><% end %><br>
        <% for p in @post %>
        
        <div class="panel panel-default post-panel">
        <div class="panel-body row">
            
            <div class="col-sm-1">
              <img src="/ava.jpg" class="rounded-img" height= "40px" width= "40px"> </img>
            </div>
            
            <div class="col-sm-11"> 
                CONTENT
            </div>
            
            <div class="col-sm-12">
              <p class ="post-links">
                  <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                     <a href="">View Conversation </a>
                </p>
            </div>
       
        </div>
        </div>
        <% end %>
        
        <div class="panel panel-default post-panel">
        <div class="panel-body row">
            
            <div class="col-sm-12">
                <center><img src="/twitter-128.png" height="25px" width="25px"></img>
                     <a href="#top"><p class="opacity: .7;"> Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
            </div>
       
        </div>
        </div>        
        
    </div>
    <div class="col-xs-3">
            
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
                       <% for @u in @toFollow do %>
                               <p style="font-weight: bold; opacity: 0.85"><a href="/user/<% @u.username%>"><% @u.username%></a></p>
                       <% end %>
             </div>
         </div>
        
        <div class="panel panel-default">
        <div class="panel-body">
        <p style="opacity: 0.5; font-size: 80%;"> © 2016 TwitterGrabber About Help Blog Status Jobs Terms Privacy Cookies Ads Info Brand Advertise Businesses Media Developers</p>
        </div>
        </div>
    </div>
</div>




